@import "colors";
@import "variables";
@import "mixins";

.mainContainer {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  transition: $transition;
  z-index: 10;

  &.open {
    left: 0;
  }

  .filtersHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 2px 5px #0000000f;

    p {
      color: $secondary;
      font-weight: bold;
    }

    .closeIcon {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $lightGray;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .filtersContent {
    padding-bottom: 20px;

    .singleFilterContainer {
      margin: 30px 0 35px;

      & > label {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: $primary;
        margin-bottom: 15px;
      }

      .priceInputContainer {
        display: flex;
        align-items: center;

        & > div {
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .searchBtn {
      width: 100%;
      border-radius: 10px;
      background-color: $darkBlue;
      padding: 14px;
      font-size: 16px;
      color: white;
      border: none;
      cursor: pointer;
      transition: $transition;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@include desktop {
  .mainContainer {
    position: relative;
    left: 0;
    border: 1px solid $lightGray;
    border-radius: 15px;
    max-width: 380px;

    .filtersHeader {
      display: none;
    }
  }
}
